.reader {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2A2A2A;
    z-index: 5;

    button {
        background: none;
        border: none;
    }

    .content {
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .close {
        position: absolute;
        top: 1.94rem;
        left: 1.94rem;
    }

    .miniature {
        width: 15rem;
    }

    .waitList {
        height: fit-content;

        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: -20%;

        transition: all 0.3s ease-in-out;

        z-index: 25;
        background-color: #2A2A2A;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;
        border-radius: 0.625rem 0.625rem 0rem 0rem;


        .title{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .waitListElements{
            overflow-y: scroll;
            height: 10rem;
            width: fit-content;
        }

        .handle {
            width: 2.4375rem;
            height: 0.4375rem;
            border-radius: 0.625rem;
            background-color: #AC8AF4;
            flex-shrink: 0;
        }

        .waitListElement {
            display: flex;
            opacity: 50%;
            gap: 3rem;
            margin-bottom: 0.5rem;

            img {
                width: 4.375rem;
                height: 4.43375rem;
                border-radius: 0.625rem;
            }

            h1{
                padding-left: 0.6rem;
            }
        }

        .waitListCurrent {
            opacity: 100%;
        }
    }

    .waitListShown{
        bottom: 0rem;
    }
}

.podcast {

    .content {
        margin-top: 9.37rem;

        h1 {
            color: #FFF;
            font-family: Inter;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
        }

        .audio {
            display: block;

        }

        .miniature {
            display: block;
            border-radius: 0.625rem;

        }

        .buttons {
            display: flex;

            .play {
                path {
                    fill: transparent;
                }
            }
        }

        .videoMedia {
            display: none;
        }
    }

    audio {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
    }

    audio {
        width: 20rem;
    }

    audio::-webkit-media-controls-timeline {
        color: white;
    }

    audio::-webkit-media-controls-enclosure {
        max-width: none
    }

    audio::-webkit-media-controls-panel {
        background-color: transparent;
    }

    audio::-webkit-media-controls-mute-button {
        display: none;
    }

    audio::-webkit-media-controls-current-time-display,
    audio::-webkit-media-controls-time-remaining-display {
        display: none;
    }



}

.video {

    .content {
        align-items: baseline;

        .close {
            path {
                fill: #4F81E3;
            }
        }

        h1 {
            color: #FFF;
            font-family: Inter;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
            padding-left: 1.8rem;
        }

        .buttons {
            align-self: center;

            .play {
                path {
                    fill: transparent;
                }
            }
        }

        .videoMedia {
            padding-top: 5rem;
            display: block;
            width: 100vw;
        }

        .audio {
            display: none;
        }

        .miniature {
            display: none;
        }
    }

    .waitList {
        

        .handle {
            background-color: #4F81E3;
        }
    }

}

.short {
    .content {
        align-items: baseline;
        position: relative;

        .close {
            path {
                fill: #FF8F44;
            }
        }


        .videoMedia {
            display: block;
            z-index: -1;
            width: 100vw;
            top: 0;
            left: 0;
            background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 69.17%, rgba(0, 0, 0, 0.65) 86.87%)
        }

        h1 {
            margin: 0;
            position: relative;
            bottom: 7rem;
            padding-left: 1.1rem;
        }

        .buttons {
            align-self: center;
            position: relative;
            bottom: 3rem;

            .play {
                path {
                    fill: transparent
                }
            }
        }

        .audio {
            display: none;
        }

        .miniature {
            display: none;
        }
    }
    .waitList {
        

        .handle {
            background-color: #FF8F44;
        }
    }
}

.article {
    .audio {
        display: none;
    }

    .miniature {
        display: none;
    }

    .videoMedia {
        display: none;
    }
}