.reader{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;

    .miniature{
        width: 15rem;
    }
}

.podcast{    
    .audio{
        display: block;
    }

    .miniature{
        display: block;
    }

    .videoMedia{
        display: none;
    }
}

.video{
    .videoMedia{
        display: block;
    }

    .audio{
        display: none;
    }
    .miniature{
        display: none;
    }
}

.short{
    .videoMedia{
        display: block;
    }

    .audio{
        display: none;
    }
    .miniature{
        display: none;
    }
}

.article{
    .audio{
        display: none;
    }
    .miniature{
        display: none;
    }
    .videoMedia{
        display: none;
    }
}

