
.logo{
    position: absolute;
    top: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.carrousel {
    overflow: hidden;
    width: 390px;
    height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;

    .blur {
        backdrop-filter: blur(20px);
        height: 100vh;
        width: 100vw;
        position: absolute;
    }

    .infoCarou {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 1;
        background: linear-gradient(1deg, #1b1b1b, transparent);

        .info {
            position: absolute;
            left: 50%;
            bottom: 15%;
            display: flex;
            transform: translate(-50%);
            align-items: center;

            p {
                background-color: #DEDEDE;
                width: 0.625rem;
                height: 0.625rem;
                margin: 0rem 0.2rem;
                border-radius: 100%;
                transition: all 0.2s ease-in-out;
            }

            .current {
                background-color: #FF8F44;
                width: 0.9375rem;
                height: 0.9375rem;
            }
        }
    }

    .controlCarou {
        width: 90%;
        position: absolute;
        z-index: 4;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);

        button {
            background-color: #FF8F44;
            border: none;
            color: white;
            width: 2.3125rem;
            height: 2.3125rem;
            border-radius: 0.31rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button:first-child {
            transform: rotate(180deg);
        }
    }

    .containerCardCarou {
        width: fit-content;
        margin-left: 1.3em;
        margin-right: 1.3em;
        display: flex;
        justify-content: center;
        z-index: 5;
        transition: transform 0.4s ease-in-out;

        .cardCarou {
            border-radius: 0.63rem;
            margin: 19px 9.5px 19px 9.5px;
            background-color: #191919;
            width: 20.5625rem;
            height: 21.5625rem;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.63rem;
                outline: solid 3px #ff8f43;
            }

            .textCarouContainer {
                background-color: #191919;
                border-radius: 0.63rem;
                width: 270px;
                height: 193px;
                position: absolute;
                left: 50%;
                top: 13.5rem;
                transform: translate(-50%, 0);
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                button {
                    margin: 5%;
                }

                .textCarou {
                    height: 100%;
                    overflow: hidden;
                    word-wrap: break-word;
                    margin: 5%;
                }
            }
        }
    }
}

.viewMoreOpen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #191919;
    z-index: 6;
    transform: translateY(0%);
    transition: transform 0.5s ease-in-out;

    button {
        position: absolute;
        z-index: 99;
    }

    .viewMoreImageBlur {
        height: 20%;
        background-size: cover;
        filter: blur(45px);
    }

    .viewMoreImage {
        position: absolute;
        height: 40%;
        background-size: cover;
        z-index: 11;
        left: 0;
        bottom: 40%;
        width: 100%;
    }

    .viewMoreText {
        margin-top: 90%;
        height: 37vh;
        background-color: #191919;
        padding: 2% 5%;

        h2 {
            margin: 0;
        }

        p {
            word-break: break-word;
            overflow-y: scroll;
        }
    }
}

.viewMoreClose {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #191919;
    z-index: 6;
    transform: translateY(110%);
    transition: transform 0.4s ease-in-out;
}